:root {
  --primary-text-color: #424242;
  --secondary-text-color: #484848;
  --nav-text-color: #292929;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --light-green-color: rgba(1, 153, 109, 0.2);
  --primary-green-color: #01996d;
  --primary-background-color: #ffffff;
  --secondary-background-color: #245852;
  --border-color: #d6d6d6;
  --black-bg-color: #000000;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.container {
  max-width: 1369px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 172px;
}

.nav__list {
  display: flex;
  gap: 72px;
}

.nav__link {
  padding: 30px 0 31px 0;
  display: block;
  font-family: 'Lato Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--nav-text-color);
  transition-duration: 300ms;
}
.nav__link:hover {
  color: var(--primary-green-color);
}

.links-box {
  margin-left: auto;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.links-box__login {
  margin-right: 35px;
}

.links-box__login {
  color: var(--black-text-color);
}

.links-box__registration {
  color: var(--white-text-color);
  background: var(--primary-green-color);
  border: 1px solid var(--primary-green-color);
  border-radius: 4px;
  padding: 13px 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.links-box__registration:hover {
  background: #028a63;
  border: 1px solid #039169;
}

.hero {
  padding: 175px 0 336px 0;
  background: linear-gradient(112.58deg, #ffffff 18.15%, rgba(255, 255, 255, 0) 53.07%),
    rgba(0, 0, 0, 0.1) url(../assets/background.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.hero__title {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.13;
  color: var(--primary-green-color);
  max-width: 440px;
  margin-bottom: 30px;
}

.hero__paragraph {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  max-width: 420px;
  margin-bottom: 60px;
}

.hero__btn {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: var(--white-text-color);
  background: var(--primary-green-color);
  border: 1px solid var(--primary-green-color);
  border-radius: 4px;
  padding: 20px 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.hero__btn:hover {
  background: #028a63;
  border: 1px solid #039169;
}

.steps {
  padding: 169px 0 51px 0;
}
.steps__container {
  max-width: 1413px;
}

.steps__text {
  font-family: 'Lato Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.58;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}

.steps__title {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.58;
  color: var(--primary-green-color);
  max-width: 584px;
}

.steps__desc {
  font-family: 'Lato Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
  max-width: 651px;
}

.steps-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.steps-list__item {
  position: relative;
  max-width: 390px;
}

.steps-list__item:nth-child(2) {
  padding-top: 250px;
}

.steps-list__title {
  position: absolute;
  z-index: -1;
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: var(--black-text-color);
}

.steps-list__item:nth-child(1) .steps-list__title {
  top: 12%;
  left: 22%;
}
.steps-list__item:nth-child(2) .steps-list__title {
  left: 19%;
  top: 34%;
}
.steps-list__item:nth-child(3) .steps-list__title {
  left: 32%;
  top: 12%;
}

.steps-list__num {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 1.5;
  text-align: center;
  color: var(--light-green-color);
}

.steps-list__paragraph {
  font-family: 'Lato Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 60px;
}

.story {
  background: var(--secondary-background-color);
  padding: 229px 0 176px 0;
}

.story__container {
  max-width: 1506px;
}

.story__flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story__box {
  margin-right: 60px;
}

.story__video {
  position: relative;
}

.story__image {
  width: 100%;
}

.story__video:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16.3326px;
}

.story__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  transition: transform 300ms ease;
}

.story__icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.story__title {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.58;
  color: var(--white-text-color);
  max-width: 580px;
  margin-bottom: 33px;
}

.story__text {
  font-family: 'Lato Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.58;
  color: var(--white-text-color);
  margin-bottom: 57px;
}

.story__button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #ffffff;
  background: var(--primary-green-color);
  border: 1px solid var(--primary-green-color);
  border-radius: 4px;
  padding: 20px 50px;
  transition-duration: 300ms;
  cursor: pointer;
}
.story__button:hover {
  background: #028a63;
  border: 1px solid #039169;
}

.product {
  padding: 120px 0 320px 0;
}

.product__container {
  max-width: 1370px;
  padding: 0 15px 0 60px;
}

.product__img {
  width: 638px;
}

.product__flex-container {
  display: flex;
  justify-content: space-between;
}

.product__bg {
  position: relative;
  margin-right: 10px;
}

.card {
  position: absolute;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
  background: var(--primary-background-color);
  border-radius: 3.72971px;
  transform: translate(-50px, -50%);
  padding: 23px 55px 30px 61px;
  max-width: 296px;
}

.card__title {
  font-family: 'Lato Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 14.49px;
  line-height: 1.57;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 20px;
  position: relative;
}

.card__title::after {
  content: '';
  position: absolute;
  top: 130%;
  left: 31px;
  width: 65%;
  border: 0.745942px solid var(--black-bg-color);
}

.card__image {
  margin: 0 auto 10px;
}

.card__name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11.9351px;
  line-height: 1.57;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 20px;
}

.card__text {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9292px;
  line-height: 1.57;
  color: var(--black-text-color);
  margin-bottom: 15px;
}

.product-list {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 10.6195px;
  line-height: 1.57;
  color: var(--black-text-color);
}

.product-content__subtitle {
  font-family: 'Lato Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.57;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.product-content__title {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: var(--primary-green-color);
  max-width: 584px;
  margin-bottom: 20px;
}

.product-content__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  max-width: 530px;
  margin-bottom: 40px;
}

.product-content__btn {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: var(--white-text-color);
  background: var(--primary-green-color);
  border: 1px solid var(--primary-green-color);
  border-radius: 4px;
  padding: 20px 50px;
  transition-duration: 300ms;
  cursor: pointer;
}

.product-content__btn:hover {
  background: #028a63;
  border: 1px solid #039169;
}

.footer {
  background: var(--secondary-background-color);
  padding: 95px 0 39px 0;
}
.footer__container {
  max-width: 1553px;
  padding: 0 15px 0 20px;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__nav-container {
  padding-left: 50px;
}

.footer__logo {
  font-family: 'Avenir Black';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.37;
  color: var(--white-text-color);
  margin-bottom: 60px;
}

.footer-list__item {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: var(--white-text-color);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 60px;
}

.footer-list__item:last-child {
  padding-bottom: 105px;
}

.social-list {
  display: flex;
}

.social-list__link {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 82px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-background-color);
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.social-list__item:nth-child(2) .social-list__link {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 82px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #80a4ce 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.social-list__item:not(:last-child) {
  margin-right: 50px;
}

.footer-app__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.24;
  letter-spacing: 0.005em;
  color: var(--white-text-color);
  text-align: center;
  margin-bottom: 28px;
}

.footer-app__box {
  display: flex;
}

.footer-app__link:not(:last-child) {
  margin-right: 14px;
}
